html {
    font-size: 90%;
}

.component {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 3px;
    min-height: 72px;
    background-color: #eee;

    .control {
        display: none;
        position: absolute;
        top: 6px;
        right: 6px;
    }

    &:hover>.control {
        display: block;
    }
}

.widget-small {
    background-color: white;

    img {
        background-color: transparent;
    }

    .info {
        flex: 1;
        padding: "0 20px";
        align-self: center;

        p {
            color: black;
        }
    }
}

.central-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px dashed #167ce9;
    padding: 10px;

    p {
        margin: 16px;
    }
}

.table td {
    vertical-align: middle !important;
}

.select2-container {
    width: 100% !important;
}

.select2-selection.is-invalid {
    border: 2px solid red;
    border-radius: 5px;
}

.menuList>li {
    width: "100%";
    margin-top: 10px;
    margin-bottom: 10px;

    .buttons {
        display: block;
        margin-left: 6px;
    }

    div>div.buttons {
        visibility: hidden;
    }

    div:hover>div.buttons {
        visibility: visible;
    }
}

.menuSub>li {
    width: "100%";
    margin-top: 10px;
    margin-bottom: 10px;

    .buttons {
        display: block;
        margin-left: 6px;
    }

    div>div.buttons {
        visibility: hidden;
    }

    div:hover>div.buttons {
        visibility: visible;
    }
}

.tinTucList>li {
    width: "100%";
    margin-top: 10px;
    margin-bottom: 10px;

    .buttons {
        display: block;
        margin-left: 6px;
    }

    div>div.buttons {
        visibility: hidden;
    }

    div:hover>div.buttons {
        visibility: visible;
    }
}

.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px 16px;
    line-height: 1.33;
    border-radius: 50%;
    font-size: 18px;

    .fa {
        font-size: 18px;
    }
}

.swal-button--false {
    background-color: #28a745;
}

.has-search {
    .form-control {
        padding-left: 2.375rem;
    }

    .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    .form-control-clear {
        z-index: 2;
        display: block;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: red;
        top: 5px;
        right: 0px;
        width: 16px;
        height: 16px;
        float: right;
    }
}

.form-control-black:focus {
    border-color: #343a40;
}

.menuSearchItem {
    margin-top: 24px;
    text-align: center;
}

.button-edit {
    width: 40px;
    height: 30px;
    text-align: center;
    padding: 0px;
}

.list-group-item-tin-tuc {
    border: 0px;
}

.show-on-hover {
    & .btn {
        visibility: hidden;
    }

    &:hover .btn {
        visibility: visible;
    }
}

.cke_editable {
    img {
        width: 100%;
    }
}

.app-advance-search {
    display: none;
    background-color: #fff;
    margin: -30px -20px 20px -20px;
    padding: 0 30px 0 30px;

    &.show {
        display: block;
    }
}

.admin-form-select {
    span.select2-selection__clear {
        color: #888;
        font-size: 22px;
        font-weight: unset;
        margin-right: 10px;
        height: 36px;
        line-height: 34px;
    }
}

.show-scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 10px;
    }
}

.tile-table-fix-head {
    height: calc(100vh - 200px);

    table {
        overflow-y: scroll;
        height: 100%;

        &::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.35);
            border-radius: 10px;
        }

        thead {
            color: #ffffff;
            position: sticky;
            top: 0;
            z-index: 400;
            border: 0;
        }
    }

    //   table:hover {
    //     &::-webkit-scrollbar {
    //       width: 15px;
    //     }
    //     &::-webkit-scrollbar-thumb {
    //       background-color: rgba(0, 0, 0, 0.35);
    //       border-radius: 10px;
    //     }
    //   }
}

.table-fix-col {

    th:last-child,
    td:last-child:not(.not-last-col) {
        position: -webkit-sticky;
        position: sticky;
        right: 0;
        z-index: 500;
    }

    tr {
        td:last-child:not(.not-last-col) {
            background-color: darken(#e9ecef, 10%);
        }
    }

    //   tr {
    //     th:last-child {
    //       background-color: #ffffff;
    //     }
    //   }

    thead th:last-child:not(.not-last-col) {
        z-index: 600;
        background-color: darken(#e9ecef, 10%);
    }
}

.notify-alert.alert-warning {
    color: #000;
}

$column-widths: (
    0,
    50,
    50,
    150,
    200
);
$table-columns: 1;
$distanct: 0;

.table-pin-wrapper {
    position: relative;
    z-index: 100;

    table.table-pin {
        border-spacing: 0 !important;
        border-collapse: collapse;

        tr,
        td,
        th {
            border: 2px solid #fff;
        }

        td.sticky-col {
            background-color: #dee2e6;
        }

        .sticky-col {
            position: sticky;
            z-index: 300;

            @for $i from 1 through 4 {
                &.pin-#{$i}-col:nth-child(#{$i}) {
                    width: #{nth($column-widths, $table-columns + 1)}px;
                    min-width: #{nth($column-widths, $table-columns + 1)}px;
                    max-width: #{nth($column-widths, $table-columns + 1)}px;
                    left: #{$distanct + nth($column-widths, $i)}px;
                }

                $distanct: $distanct + nth($column-widths, $i);
                $table-columns: $table-columns + 1;
            }
        }
    }
}