.clickable {
    tbody{
        tr {
            cursor: pointer;
            &.selected {
                background-color: #80ff80;
            }
            &.busy {
                opacity: .65;
                background-color: #e6e6e6;
            }
            &.selected.busy {
                background-color: #ffff80;
                opacity: 1;
            }
        }
    }
    tfoot.sticky {
        background-color: gray;
        color: white;
        position: sticky;
        bottom: 0;
        z-index: 400;
        border: 0;
    }
}

.list-guest .table-fix-footer {
    background-color: white;
    color: black;
    position: sticky;
    bottom: 0;
    z-index: 400;
}
